RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L]

# Páginas de erro personalizadas
ErrorDocument 404 /eror/erro404.php
ErrorDocument 403 /eror/erro403.php
ErrorDocument 500 /eror/erro500.php
ErrorDocument 503 /eror/erro503.php